/*Defaults*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(8, auto);
}
/*End of defaults*/

/*Nav/Banner */
.site-nav {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, auto);
    background-color: #f39189;
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    height: 8rem;
    padding: 0.5rem;
}

.nav-header {
    font-family: "Roboto", helvetica, serif;
    font-size: 3rem;
    color: #fff;
    font-style: italic;
    grid-column: 2 / span 2;
    justify-self: center;
    align-self: center;
    padding-top: 2rem;
}

#navList {
    list-style: none;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
}

.navListLink {
    color: #fff;
    font-family: "Roboto", helvetica, serif;
    font-size: 2rem;
    opacity: 0.5;
    font-style: italic;
    cursor: pointer;
}

.navListItem {
    display: inline-block;
    padding: 3rem;
}
/* End of nav/banner */

/*Start of intro section */
.intro {
    grid-column: 1 / span 4;
    align-self: center;
    justify-self: center;
    background-color: #bb8082;
    color: #fff;
    height: 20rem;
    padding: 10rem;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, auto);
    z-index: 10;
    border-radius: 0 0 10rem 10rem;
}

.intro-title {
    font-family: "Cairo", Helvetica, serif;
    font-size: 5rem;
    text-align: center;
    grid-column: 1 / span 4;
    font-style: italic;
}

.intro-subtitle {
    font-family: "Roboto", Helvetica, serif;
    font-size: 2rem;
    text-align: center;
    grid-column: 1 / span 4;
}

#introBtn {
    font-family: "Roboto", Helvetica, serif;
    align-self: center;
    justify-self: center;
    grid-column: 1 / span 4 ;
    width: 30rem;
    padding: 1.5rem;
    border-radius: 10rem;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #bb8082;
    opacity: 0.5;
    font-size: 1.5rem;
    transition: all 1s ease;
}

/*End of intro section

/*Inputs*/
#inputs {
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, auto);
    align-self: center;
    justify-self: center;
    background-color: #6e7582;
    height: 10rem;
    width: 75%;
    padding: 10rem;
    grid-row-gap: 2.5rem;
    transform: translateY(-35rem);
    z-index: 9;
    border-radius: 0 0 10rem 10rem;
}

.bill-total {
    font-size: 2rem;
    color: #fff;
    align-self: center;
    justify-self: center;
    grid-column: 2 / span 1;
    grid-row: 1;
    font-family: "Roboto", helvetica, serif;
}
.bill {
    align-self: center;
    justify-self: center;
    grid-column: 3 / span 1;
    height: 3rem;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #fff;
    outline: none;
    background-color:#6e7582;
    color: #fff;
    opacity: 0.5;
    font-size: 2rem;
    font-family: "Roboto", helvetica, serif;
}


.tip-percent {
    font-size: 2rem;
    color: #fff;
    align-self: center;
    justify-self: center;
    grid-column: 2 / span 1;
    font-family: "Roboto", helvetica, serif;
}


.tip {
    width: 50%;
    align-self: center;
    justify-self: center;
    grid-column: 3 / span 1;
    height: 3rem;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #fff;
    outline: none;
    background-color:#6e7582;
    color: #fff;
    opacity: 0.5;
    font-size: 2rem;
    font-family: "Roboto", helvetica, serif;
}


    


.tip-button {
    font-size: 2rem;
    color: #fff;
    background-color:#6e7582;
    border: 1px solid #fff;
    outline: none;
    border-radius: 10rem;
    padding: 1rem;
    align-self: center;
    justify-self: center;
    grid-column: 2 / span 1;
    opacity: 0.5;
    cursor: pointer;
    width: 60%;
}
/*End of inputs */

/*Total*/
#total {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, auto);
    background-color: #046582;
    grid-column: 2 / span 2;
    width: 50%;
    justify-self: center;
    align-self: center;
    padding: 10rem;
    transform: translateY(-70rem);
    border-radius: 0 0 10rem 10rem;
}

#tipAmount {
    grid-column: 2 / span 2;
    font-family: "Roboto", helvetica, serif;
    color: #fff;
    font-size: 3rem;
}

#totalBtn {
    grid-column: 2 / span 2;
    font-family: "Roboto", helvetica, serif;
    font-size: 1.5rem;
    color: #fff;
    background-color: #046582;
    border-radius: 10rem;
    border: 1px solid #fff;
    outline: none;
    opacity: 0.5;
    height: 3rem;
    width: 75%;
    cursor: pointer;
}

/*End of totals */

.foot {
    position: absolute;
    background-color:#046582;
    text-align: center;
    width: 100%;
    height: 5rem;
    bottom: 0;
}

#footerTxt {
    color: white;
    font-size: 2rem;
    font-family: "Cario", Helvetica, serif;
    margin-top: 2rem;
    opacity: 0.5;
}
/*End of totals

/*Media queries */
@media(max-height: 910px) {
    .intro {
        padding: 5rem;
    }

    #inputs {
        padding: 2rem;
        height: 20rem;
    }

    #total {
        padding: 5rem;
    }
}

@media(max-width: 1984px) {
    #inputs {
        width: 100%;
    }
    .tip-button {
        padding: 0rem;
    }

    #introBtn {
        padding: 0;
    }

    #totalBtn {
        padding: 0;
    }
}

@media(max-width: 1330px) {
    .tip-button {
        border: none;
    }

    #introBtn {
        border: none;
    }

    #totalBtn {
        border: none;
    }

}

@media(max-width: 698px) {
    .intro {
        border-radius: 0;
        font-size: 1rem;
    }

    #introBtn {
        margin-top: 3rem;
    }
    
    #inputs {
      width: 100%;
      border-radius: 0;
  }

  #total {
      width: 40;
      border-radius: 0;
  }
}

@media(max-width: 472px) {
    .intro {
        padding: 0;
    }
    .intro-title {
        font-size: 1.5rem;
    }

    .intro-subtitle {
        font-size: 1.5rem;
    }
    
    #inputs {
        padding: 1rem;
    }
    
    .bill-total {
        font-size: 1.5rem;
    }

    .tip-percent {
        font-size: 1.5rem;
    }

    .bill {
        margin-left: 2rem;
    }

    .tip {
        margin-left: 2rem;
    }

}


/*End Media Queries */